n8n/workflows/visit-lead-router.json
{
  "name": "visit-lead-router",
  "nodes": [
    {
      "parameters": {
        "path": "visit-lead",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook_VisitLead",
      "name": "Visit Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "url": "={{$env.LMS_API_BASE_URL}}/visit/lead",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}"
      },
      "id": "Http_LmsLead",
      "name": "Forward To LMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"accepted\"}"
      },
      "id": "Respond_Ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Visit Lead Webhook": {
      "main": [[{"node": "Forward To LMS", "type": "main", "index": 0}]]
    },
    "Forward To LMS": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  }
}
